<h1>New Chop</h1>

<%= form_with(model: @chop, local: true) do |form| %>
  <div>
    <%= form.label :problem %><br>
    <%= form.text_field :problem %>
  </div>

  <div>
    <%= form.label :solution %><br>
    <%= form.text_field :solution %>
  </div>

  <div>
    <%= form.label :user_id %><br>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :category_id, "Category" %><br>
    <%= form.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <hr>
  <%= form.submit "Create Chop" %>
<% end %>
